button:hover {
  cursor: pointer;
}

.button--circle {
  border-radius: 50%;
  border: 1px solid royalblue;
  background-color: white;
  width: 24px;
  height: 24px;
  margin: auto;
}

.button--circle[disabled] {
  border-color: #d2d2d2;
  background-color: lightgray;
  color: grey;
  box-shadow: none;
}

.button--image {
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.image--minus {
  background-image: url(./icons-minus.png);
}

.image--plus {
  background-image: url(./icons-plus.png);
}
